
# VARIABLES DE ENTORNO Y CREDENCIALES (¡Crítico!)

.env
.env.local
.env.development
.env.production
.env.staging
*.env
*.pem
*.key
secrets.*
credentials.*


# ANGULAR Y COMPILACIÓN

/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
.sass-cache/

# DEPENDENCIAS

/node_modules
npm-debug.log
yarn-error.log
/connect.lock


# EDITORES DE CÓDIGO (VS Code, IntelliJ, etc.)

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Configuraciones locales de VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# SISTEMA OPERATIVO Y MISCELÁNEOS

.DS_Store
Thumbs.db
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/