<nav class="sidebar">
  <div class="nav-content-wrapper">
    <ul class="nav-links">
      
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="icon">🏠</span>
          <span class="text">Inicio</span>
        </a>
      </li>

      <li>
        <a routerLink="/calendar" routerLinkActive="active">
          <span class="icon">📅</span>
          <span class="text">Calendario</span>
        </a>
      </li>

      <li>
        <a routerLink="/historial-reservas" routerLinkActive="active">
          <span class="icon">📜</span>
          <span class="text">Historial</span>
        </a>
      </li>

      <li>
        <a routerLink="/registro-reserva" routerLinkActive="active">
          <span class="icon">📝</span>
          <span class="text">Reservas</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin" routerLinkActive="active">
          <span class="icon">⚙️</span> 
          <span class="text">Administrador</span>
        </a>
      </li>

    </ul>
  </div>
</nav>