<main class="vista-pagina">
  
  <div class="dashboard-header">
    <h1>Agenda de Turnos</h1>
  </div>

  <div class="calendar-dashboard-layout">
    
    <app-card>
      <div class="db-card-header">
        <h3 class="db-card-title">📅 Vista Mensual de Actividades</h3>
      </div>

      <div class="calendario-wrapper">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </app-card>

    <app-card>
      <div class="db-card-header">
        <h3 class="db-card-title">👥 Alumnos Inscriptos en el Sistema</h3>
      </div>
      
      <div class="lista-turnos-scroll">
        <app-custom-table [headers]="['Alumno', 'Actividad', 'Horario', 'Acciones']">
      
          @for (turno of listaTurnos; track turno._id) {
            <tr>
              <td><strong>{{ turno.nombre }} {{ turno.apellido }}</strong></td>
            
              <td><span class="badge-shared">{{ turno.actividad }}</span></td>
            
             <td>⏰ {{ turno.turnoTexto }}</td>
            
              <td>
                <button class="btn-eliminar-tabla" (click)="eliminarTurno(turno)" title="Cancelar Reserva">
                  🗑️ Borrar
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" style="text-align: center; color: #718096; padding: 30px;">
                No hay turnos agendados en la base de datos de MongoDB Atlas.
              </td>
            </tr>
          }

        </app-custom-table>
      </div>
    </app-card> 

  </div>
</main>